{%include 'adminheader.html'%}
<!-- ======= Hero Section ======= -->
   <section style="background: url('/static/assets/img/about.jpg');background-size: cover;height: 100vh" id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 data-aos="fade-up">Enjoy Your Healthy<br>Delicious Food</h2>
         <!--  <p data-aos="fade-up" data-aos-delay="100">Sed autem laudantium dolores. Voluptatem itaque ea consequatur eveniet. Eum quas beatae cumque eum quaerat.</p> -->
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <!-- <a href="#book-a-table" class="btn-book-a-table">Book a Table</a> -->
            <!-- <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
          </div>
        </div>
        <br><br><h1 align="center" style="font-size: 80px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(0, 0, 0);width: 1090px;"><br><br><br>WELCOME BOSS</h1>
        <div class="container">
          <div class="row">
            <h4 align="center">The Admin Portal</h4>
          </div>
        </div>
        <style>  h4{
          color: rgb(186, 59, 53); 
       font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-size: 2em;
       margin: 10px 0 0 10px;
       white-space: nowrap;
       overflow: hidden;
       width: 100%;
       animation: animtext 4s steps(80, end); 
        transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
     }
     @keyframes animtext { 
       from {
           width: 0;
          transition: all 2s ease-in-out;
       } 
     }
     </style>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="/static/assets/img/hero-img.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->
{%include 'footer.html'%}