{%include 'adminheader.html'%}
<!-- ======= Hero Section ======= -->
<section style="background: url('/static/assets/img/about.jpg');background-size: cover;height: 100vh" id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 data-aos="fade-up">Enjoy Your Healthy<br>Delicious Food</h2>
         <!--  <p data-aos="fade-up" data-aos-delay="100">Sed autem laudantium dolores. Voluptatem itaque ea consequatur eveniet. Eum quas beatae cumque eum quaerat.</p> -->
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <!-- <a href="#book-a-table" class="btn-book-a-table">Book a Table</a> -->
            <!-- <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="static/assets/img/hero-img.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">

<center>
	<div class="form">
	<form method="post" enctype="multipart/form-data">
		{%if data['time']%}
		<table>
			<h2>Update Meal Times</h2>
			<tr>
				<th>Meal Time</th>
				<td><input type="text" name="meal" class="form-control" value="{{data['time'][0]['meal_time']}}"></td>
			</tr>
			<tr>
				<td align="center" colspan="2"> <input type="submit" name="update" class="btn btn-primary" value="UPDATE"></td>
			</tr>
		</table>
		{%else%}
		<table>
			<h2>Manage Meal Times</h2>
			<tr>
				<th>Meal Time </th>
				<td><input type="text" class="form-control" name="meal" required=""></td>
			</tr>
			<tr>
				<td align="center" colspan="2"><input type="submit" name="submit" value="ADD" class="btn btn-primary"></td>
			</tr>
		</table>
	    </div>
	   </div>
    </div>
</div>
</section>
<!-- End Hero Section -->
		
  <center>
		<table class="table" style="width: 670px">
			<h1>View Meal Timings</h1>
			<tr>
				<th>Slno.</th>
				<th>Meal Time</th>
				
			</tr>
			{%for r in data['view']%}
			<tr>
				<td>{{loop.index}}</td>
				<td>{{r['meal_time']}}</td>
				{%if r['Status']=='1'%}
				{%endif%}
				{%if r['Status']=='0'%}
				<td><a href="?action=inactive&cid={{r['meal_time_id']}}" class="btn btn-primary">Inactive</a></td>
				{%endif%}
				<td><a href="?action=update&cid={{r['meal_time_id']}}" class="btn btn-primary">Update</a></td>
			</tr>
			{%endfor%}
		</table>
		{%endif%}
		</center>
	
</center>
{% include 'footer.html'%}